.root {
    -fx-font-family: "Arial";
    -fx-background-color: linear-gradient(to bottom, #000000, #035d61);
}

.label {
    -fx-font-size: 14px; /* Taille standard pour la lisibilité */
    -fx-font-weight: normal;
    -fx-text-fill: #555; /* Gris plus clair pour le texte des labels */
}

.label#gestionStoreTitle {
    -fx-font-size: 28px; /* Taille plus grande pour le titre */
    -fx-font-weight: bold;
    -fx-text-fill: #00796b; /* Couleur verte pour le titre */
    -fx-padding: 10px 0; /* Espacement pour le titre */
}
.mouse-moved:hover{
    -fx-background-color:#E4E4E4;

}


.button:hover {
    -fx-background-color: #5dc1b9;
    -fx-cursor: hand;
}

.text-field {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-background-color: #ffffff;
}

.text-field:focused {
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
}

.container {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: top-center;
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}


